@import url('https://fonts.googleapis.com/css2?family=Anton&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Manrope:wght@200..800&family=Noto+Serif+Georgian:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 1596px;
    height: 123px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    div{
        display: flex;
        align-items: center;
        gap: 13px;
    }
    p{
        color: white;
        font-size: 28px;
    }
    img{
        width: 60px;
        height: 60px;
    }
    button{
        font-size: 18px;
        line-height: 150%;
        align-items: center;
        background-color: black;
        color: white;
        padding: 18px 30px;
    }
    .hd-prod{
        color: #B3B3B2;
    }
    .btn{
        background-color: #AE9B84;
        border-radius: 12px;
        color: #0F0F0F;
        width: 136px;
        height: 63px;
    }
}
main{
    width: 1596px;
}
.mainPoster{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.shop-div{
    
    position: absolute;
    top: 600px;
}
.shop-btn{
    font-size: 18px;
    width: 165px;
    height: 63px;
    padding: 18px 24px;
    background-color: #1F1F1F;
    border:1px dashed #AE9B84;
    border-radius: 12px;
    color: #FFFFFF;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.shop-arrow{
    width: 24px;
    height: 24px;
}

.nav-sec{
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: repeat(1fr, 2);
}
.nav-div{
    grid-area: 1 / 1 / 2/ 3;
    h1{
        font-size: 48px;
        font-family: roboto;
        font-weight: 400;
    }
    p{
        
    }
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 10px;
}
ul li button{
    color: #B3B3B2;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    padding: 14px 24px;
    
    background-color: black;
    border: 1px dashed #333333;
    
    
}