@import url('https://fonts.googleapis.com/css2?family=Anton&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Manrope:wght@200..800&family=Noto+Serif+Georgian:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
header{
    font-family: 'Roboto Mono', sans-serif;
    width: 1596px;
    height: 123px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    div{
        display: flex;
        align-items: center;
        gap: 13px;
    }
    p{
        color: white;
        font-size: 28px;
    }
    img{
        width: 60px;
        height: 60px;
    }
    button{
        font-size: 18px;
        line-height: 150%;
        align-items: center;
        background-color: black;
        color: white;
        padding: 18px 30px;
        border-radius: 12px;
        box-shadow: none;
    
        transition: background-color 0.5s ease-in 0.2s;
    }
   
    button:hover{
        background-color: #AE9B84;
        color: black;
    }
    .hd-prod{
        color: #B3B3B2;
    }
    
}
main{
    width: 1596px;

}
.mainPoster{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.shop-div{
    
    position: absolute;
    top: 600px;
}
.shop-btn{
    font-size: 18px;
    width: 165px;
    height: 63px;
    padding: 18px 24px;
    background-color: #1F1F1F;
    /* border:1px dashed #AE9B84; */
    border-radius: 12px;
    color: #FFFFFF;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    /* ანიმაციისთვის ვამატებთ */
    position: relative;
    border: none;
    /* ჩარჩო გარეთ თუ გავა დაიმალოს */
    overflow: hidden;
    z-index: 1; /* ტექსტი რომ ზემოდან მოექცეს */
}

.shop-btn::before {
    content: "";
    position: absolute;
    width: 200%; /* ღილაკზე ბევრად დიდი, რომ ტრიალისას კუთხეები არ გამოჩნდეს */
    height: 200%;
    background: conic-gradient(transparent, #AE9B84, transparent 30%);
    animation: rotate 4s linear infinite;
    z-index: -2; /* ღილაკის უკან მოექცეს */
}

.shop-btn::after {
    content: "";
    position: absolute;
    inset: 2px; /* ბორდერის სისქე (დატოვებს 2 პიქსელს) */
    background: #1F1F1F; /* იგივე ფერი, რაც ღილაკის ფონია */
    border-radius: 11px;
    z-index: -1; /* მოექცეს მბრუნავ ხაზსა და ტექსტს შორის */
}
@keyframes rotate{
    from{
        transform: rotate(0deg);}
    to{
        transform: rotate(360deg);
        }
    }

.shop-arrow{
    width: 24px;
    height: 24px;
}

.nav-sec{
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: repeat(1fr, 2);
    
}
.fex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-div{
    grid-area: 1 / 1 / 3/ 3;
    padding: 80px;
    gap: 30px;
    
    h1{
        
        width: 638px;
    }
    p{
        color: #676665;
        font-size: 18px;
        width: 638px;
    }
}
.sec-list{
    list-style: none;
    display: flex;
    gap: 10px;

}

ul li button{
    color: #B3B3B2;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    padding: 14px 24px;
    background-color: black;
    border: 1px dashed #333333; 
    transition:background-color 2s ease-in 0.2s ;
}
ul li button:hover{
    background-color: bisque;
    color: black;
}
.sec-title{
        font-size: 48px;
        font-family: roboto;
        font-weight: 500;
        text-transform: uppercase;
        color: #FFFFFF;
}
.nav-sec h2{
    font-size: 50px;
    font-weight: 500;
    line-height: 150%;
    color: #FFFFFF;
}
h2{
    font-size: 48px;
    font-weight: 500;
    line-height: 150%;
    color: #FFFFFF;
}

h3{
    font-family: Roboto,sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    color: #FFFFFF;
}
p{
    color: #81807E;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    font-family: Roboto,sans-serif;
}

.stat-child-1{
    grid-area: 1/3/2/4;
}

.stat-child-2{
    grid-area: 1/4/2/5;
}
.stat-child-3{
    grid-area: 2/3/3/4;
}
.stat-child-4{
    grid-area: 2/4/3/5;
}

.stat-div{
    display: flex;
    flex-direction: column;
    padding: 80px;
    justify-content: center;
    border: 2px dashed #262626;

}

.grid-sec{
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: repeat(1fr, 3);
    /* justify-content: center; */
    align-items: center;
}


.common-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
    gap: 30px;
    border: 2px dashed #262626;
}
.card1{
    grid-area: 1/1/2/4;
    align-items: start;
    justify-content: center;
    height: 273px;
}
.card2{
    grid-area: 2/1/3/2;
    
}
.card3{
    grid-area: 2/2/3/3;
}
.card4{
    grid-area: 2/3/3/4;
}
.card5{
    grid-area: 3/1/4/2;
}
.card6{
    grid-area: 3/2/4/3;
}
.card7{
    grid-area: 3/3/4/4;
}

.coll-card{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* padding: 30px; */
    gap: 30px;
    border: 2px dashed #262626;
    padding: 30px;
    /* border:1px dashed #404040; */
    /* width: 472px; */
    /* height: 386px; */
    /* border-radius: 50px 0 0 0 ; */
    
}

.coll-card:hover{
    img{
        transform: scale(1.1);
        transition-duration: 0.5s;
    }
}
.coll-btn{
    background-color: #1F1F1F;
    
    border-radius: 12px;
    /* padding: 18px 24px; */
    width: 159px;
    height: 63px;
    color: #FFFFFF;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-align-btn{
    justify-content: space-between;
    align-items: center;
    width: 472px;
}
.coll-card h2 {
    font-family: Roboto Mono, sans-serif;
    font-size: 24px;
}
.point{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #4D4D4D;
}
span{
    font-family: Roboto Mono, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #CCCCCC;
}
.coll-price{
    gap: 10px;
}
.price-line{
    align-items: center;
    gap: 5px;
}

.coll-card1{
    grid-area: 1/1/2/4;
}
.coll-card2{
    grid-area: 2/1/3/2;
}
.coll-card3{
    grid-area: 2/2/3/3;
}
.coll-card4{
    grid-area: 2/3/3/4;
}
.coll-card5{
    grid-area: 3/1/4/2;
}
.coll-card6{
    grid-area: 3/2/4/3;
}
.coll-card7{
    grid-area: 3/3/4/4;
}


.faq-sec{
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 4);
    /* justify-content: center; */
    align-items: center;
    border: 2px dashed #262626;

}



.faq-card1{
    grid-area: 1/1/2/4;
    justify-content: space-between;
    /* height: 386px; */
    /* width: 100%; */
    padding-left: 10px;
}
.faq-card2{
    grid-area: 2/1/3/2;
}
.faq-card3{
    grid-area: 2/2/3/3;
}
.faq-card4{
    grid-area: 2/3/3/4;
}
.faq-card5{
    grid-area: 3/1/4/2;
}
.faq-card6{
    grid-area: 3/2/4/3;
}
.faq-card7{
    grid-area: 3/3/4/4;
}

.faq-img{
    padding: 0;
    margin: 0;
}

.faq-title{
    padding-right: 0;
}
footer{
    width: 100%;
    padding: 0  162PX;
    display: flex;
    flex-direction: column;
    
}
.footer-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding-top: 100px;
    padding-bottom: 100px; */
    padding: 100px 0;
}
.footer-header-icons{
    display: flex;
    gap: 20px;
}


.footer-main{
    padding: 96.5PX 0;
    display: flex;
    justify-content: space-between;
    /* justify-content: center; */
}

.footer-main-sec {
    display: flex;
    flex-direction: column;
    gap: 30px;
    h2{
    font-size: 22px;
    font-weight: 500;
    color: #FFFFFF;
}
}
.footer-main-sec-list{
    display: flex;
    gap: 38px;
    font-family: Roboto Mono;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    color: #676665;
    :nth-child(1){
        list-style: none;
    }
}
.subscribe{
    padding: 18px 24px;
    background-color: #1A1A1A;
    width: 478.67px;
    height: 63px;
    background-image: url(./assets/InputArrowIcon.png);
    background-repeat: no-repeat;
    background-position:right 20px center;
    background-size: 18px;
    
}

.footer-footer {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    span,a{
        font-family: Roboto Mono;
        font-size: 20px;
        font-weight: 400;
        line-height: 150%;
        color: #676665;
    }
}

@keyframes faq {
    25%{
        color: rgb(132, 247, 132)
    }
    50%{
        color: rgb(104, 246, 104)
    }
    75%{
        color: rgb(60, 165, 60)
        
    }
    100%{
        color: rgb(23, 72, 23)
    }
}

.common-card h3:hover{
    animation: faq 10s linear infinite;
}