@import url('https://fonts.googleapis.com/css2?family=Anton&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Manrope:wght@200..800&family=Noto+Serif+Georgian:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    width: 1920px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    width: 1596px;
    height: 123px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    div{
        display: flex;
        align-items: center;
        gap: 13px;
    }
    p{
        color: white;
        font-size: 28px;
    }
    img{
        width: 60px;
        height: 60px;
    }
    button{
        font-size: 18px;
        line-height: 150%;
        align-items: center;
        background-color: black;
        color: white;
        padding: 18px 30px;
    }
    .hd-prod{
        color: #B3B3B2;
    }
    .btn{
        background-color: #AE9B84;
        border-radius: 12px;
        color: #0F0F0F;
        width: 136px;
        height: 63px;
    }
}
main{
    width: 1596px;
}
.mainPoster{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.shop-div{
    
    position: absolute;
    top: 600px;
}
.shop-btn{
    font-size: 18px;
    width: 165px;
    height: 63px;
    padding: 18px 24px;
    background-color: #1F1F1F;
    border:1px dashed #AE9B84;
    border-radius: 12px;
    color: #FFFFFF;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.shop-arrow{
    width: 24px;
    height: 24px;
}

.nav-sec{
    display: grid;
    grid-template-columns: repeat(1fr, 4);
    grid-template-rows: repeat(1fr, 2);
    
}
.fex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nav-div{
    grid-area: 1 / 1 / 3/ 3;
    padding: 80px;
    gap: 30px;
    
    h1{
        
        width: 638px;
    }
    p{
        color: #676665;
        font-size: 18px;
        width: 638px;
    }
}
.nav-list{
    list-style: none;
    display: flex;
    gap: 10px;
}
ul li button{
    color: #B3B3B2;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    padding: 14px 24px;
    background-color: black;
    border: 1px dashed #333333; 
}
.sec-title{
        font-size: 48px;
        font-family: roboto;
        font-weight: 500;
        text-transform: uppercase;
        color: #FFFFFF;
}
.nav-sec h2{
    font-size: 50px;
    font-weight: 500;
    line-height: 150%;
    color: #FFFFFF;
}
h2{
    font-size: 48px;
    font-weight: 500;
    line-height: 150%;
    color: #FFFFFF;
}

h3{
    font-family: Roboto,sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 150%;
    color: #FFFFFF;
}
p{
    color: #81807E;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    font-family: Roboto,sans-serif;
}

.stat-child-1{
    grid-area: 1/3/2/4;
}

.stat-child-2{
    grid-area: 1/4/2/5;
}
.stat-child-3{
    grid-area: 2/3/3/4;
}
.stat-child-4{
    grid-area: 2/4/3/5;
}

.stat-div{
    display: flex;
    flex-direction: column;
    padding: 80px;
    justify-content: center;
}

.grid-sec{
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: repeat(1fr, 3);
    /* justify-content: center; */
    align-items: center;
}

.trend-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px;
}
.card1{
    grid-area: 1/1/2/4;
}
.card2{
    grid-area: 2/1/3/2;
}
.card3{
    grid-area: 2/2/3/3;
}
.card4{
    grid-area: 2/3/3/4;
}
.card5{
    grid-area: 3/1/4/2;
}
.card6{
    grid-area: 3/2/4/3;
}
.card7{
    grid-area: 3/3/4/4;
}